.table {
	border-collapse: collapse;
	border-bottom: 1px solid gray;
	font-family: Tohoma,Verdana,Segoe,sans-serif;
}

.table-header {
	border-bottom: 1px solid gray;
	background: none repeat scroll 0 0 #66CCFF;
	padding: 10px;
}

.table-odd-row {
	border-top: 1px solid gray;
	background: none repeat scroll 0 0 #FFFFFF;
	text-align: left;
}

.table-even-row {
	border-top: 1px solid gray;
	background: none repeat scroll 0 0 #F9F9F9;
	text-align: left;
}